---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>neonpul.se</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap">
</head>
<body>
<script type="module" src="/js/oneko.js"></script>
<Layout title="neonpul.se">
  <main>
    <h1>neon<span class="text-gradient">pul.se</span></h1>
    <div id="pulser">
      <img src="img/pulser.gif" alt="Pulser">
    </div>
    <div id="discord">
      <p>Email: neon@neonpul.se</p>
      <p>PGP: 41A9 85EA AD2E 2115 874B  9D4C 978F 2848 F84F 77B1</p>
      <p>Email is the most effective way to contact me as I've been banned by most of big tech and reside in a country that is hostile towards autistic transgender hacker witches.
    </div>
    <br>
    <div style="text-align:center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=KRoe8ksEunz7TfDR&amp;list=PLjBu2r33q5etgxxkZ9XyoGAzDVM32SXot" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
      <Card
        href="https://github.com/aryn832"
        title="GitHub"
        body="My code."
        target="_blank"
      />
  </main>
</Layout>

<style>
  :root {
      --accent: 58, 215, 217; /* Base green color */
      --accent-light: 178, 240, 241; /* Lighter shade of green for a lighter appearance */
      --accent-dark: 20, 160, 162; /* Darker shade of green for depth */
      --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    background-color: #1a1b1d;
  }
  body {
    font-family: 'Noto Sans JP', sans-serif;
  }
  #pulser {
    text-align: center;
  }
  #discord {
    text-align: center;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  #slogan {
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  #magic-button {
    background-color: pink;
    color: white;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    animation: sparkle 2s infinite;
  }
  @keyframes sparkle {
    0%, 100% {
      box-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
    }
    50% {
      box-shadow: 0 0 20px pink, 0 0 30px pink, 0 0 40px pink;
    }
  }
</style>
<script src="/js/copyright.js" type="module"></script>
</body>
</html>

