---
import Layout from '../layouts/Layout.astro';
---
<script type="module" src="/js/oneko.js"></script>
<Layout title="JGDBC | neonpul.se">
    <main>
        <h1>neon<span class="text-gradient">pul.se</span> - JGDBC</h1>
        <p id="slogan">Guess the password!</p>
        <div id="pulser">
          <img src="img/mahou.webp" alt="Congrats Mahou Shoujo tachi" class="centered-resize">
        </div>
        <p style="display:none;" id="hidden-string">U2FsdGVkX1/v11b1rZDGWfhkI5b/L7J1qoX3eAtAE2RnxSDBtBAoXjfE3bJkarQV6xpyQR2PDxJrqzwmT9J0KPE1kP+xStuaDFDJvhzGU3jgjQARwciYdBwZqLM5luT0fDtBQKC3q6u37BLjkvfjnJF1DxtElcH9CrIlJZFDMK2ldSBTrureqgKZdrB8+q56EYfHmuUUMEr5lFcyTsj9PwX7L1L9p+EE/aEjVoZB/+k9qWaXUXyx8s3kIaNgd5FhUdu95tTiLYkdd2TYxx3bq1NIHSrZgtOiC/hcp47AAD0455aASFbzgObbIuNuF6n47VEgmK5ZwtOgWFPABu2JcV0kG4IXJA5RKvPBuHLCX58srFS/ut2pkmrsUukwBi5IXMTcW9BI2n0DisZYkNyk0AfBO9F4sAlhFA6kbDA2qV0piBv1zCyhVmjGHqXmefaJbnb/7ble8gcu7xS+5g1juibn6jqGyE+hzycM4IYvNQdY0DU23+oXiYgKANf5GSaGxIGaoJwAVn+c7K0kxdYvVf9i0ynijc8roMVgu1NnSTv6rFVAsneLNNrYxI+9QpiT1WcS43diV8+F1abnZ4UlSHhR+IKG4j5HRhP2OUEEoC8vApj73BwNgMOvgC75+wKk159tyfb5iOor9jRgsYLWExuqu648VlSuLgVvzv64E1u2oo1xEifQzSTg5vKYIzKoEAB+8nnAz1uI8th+9irtJUXhrNl+FkaQXgpextNZNiFQnqP8muBQWU5SuLGcDMDGZNu1skviH0wCzRZg49YoXVwkSeLgpD7hEDSlKVcUhT7gi4SUrjNZQUWVYwyDcR7cUNcI6dmY3mf8EHkPqmQ/dN1LQfhiRHHwQxa3FF/2tZf663K6qudHyssI3TQI6tDaY8EADJsWxpGJ5SsV/kVFMgFif2CtDgbmomSvBorqirBtRPmlTEG1GX+YpaXTCQEiA7Cqp/0zCSrBrROXMdLvXk/Gg+dI0GozTIG3c5YMybSZZi9/1OxNtrRSG6jj2BA5ih9UIlJ1pw32RMYf4TS0fdw8igDbSiiH4ykbmCPx44wVtU5ChWFxwT04OAMyLzQf</p>
    </main>
</Layout>

<style>
  :root {
      --accent: 58, 215, 217; /* Base green color */
      --accent-light: 178, 240, 241; /* Lighter shade of green for a lighter appearance */
      --accent-dark: 20, 160, 162; /* Darker shade of green for depth */
      --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    background-color: #1a1b1d;
  }
  #pulser {
    text-align: center;
  }
  .centered-resize {
    display: block;
    max-width: 100%;  /* Makes image responsive */
    max-height: 60vh; /* Limits the image height to 80% of the viewport height */
    margin: auto;     /* Centers the image horizontally */
  }
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
  #slogan {
    text-align: center;
  }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
<script src="/js/copyright.js" type="module"></script>
